body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/*HEADER STYLING*/
header{
    background-color: #560808;
    padding: 1%;
    color: white;
}
button{
    border-radius: 8px;;
    height: 40px;
    background-color: #eaaf25;
    color: white;
    border-color: transparent;
    font-size: 16px;
    margin-left: 1%;
}
header > p{
    float: left;
}
input{
    height: 33px;
    width: 25vw;
 }
header > img{
    height: 5rem;
    float: left;
}
header > img:last-of-type{
    float: right;
    height: 3rem;
}
/*main content styling*/
main{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("assets/theater.jpg");
    color: #FFC107;
    position: fixed;
}
.movieDiv{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    height: inherit;
    width: 60%;
    transition: all 1s;
    margin: auto;
    padding: 3%;
}
/*
#divForTrailer{
    opacity: 0;
    transition: all 1s;
}
*/


h1{
    margin-top: 0;
}
/*Music Play Styling*/
#divForMusicPlayer{
    width: 50%;
    margin: auto;
}
